@import "./configs.scss";

.container-principal {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .container-meet {
        width: 100%;
        display: flex;
        flex: 1;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: white;
    }

    @media screen and (min-width: $desktopBreakpoint) {
        .container-meet {
            width: 25%;
        }
    }
}
